@{
    Layout = "_SecureLayout";
}
<div class="section"  >
    <div class="row">
        <div class="col s12 m4" style="height: 500px;">
            Content Page will be displayed here.
            @*<app-clinic-calendar-information titulo="Uriel"></app-clinic-calendar-information>
            <app-clinic-basic-information id="126348"></app-clinic-basic-information>*@
        </div>
    </div>
</div>

